%h1 Home#index
%p Find me in app/views/home/index.html.erb
= form_for @tweet,url:tweet_post_path,remote:true do |f|
  =f.text_area :content,id:"tweet_area"
  =f.submit :id=>"tweet_submit"

:javascript
  var speech = new webkitSpeechRecognition();
  speech.lang = "ja";
  speech.start();
  speech.addEventListener( 'result' , function( e ) {
      result=e.results[0][0].transcript;
      document.getElementById("tweet_area").value=result;
      document.getElementById("tweet_submit").click();
      ss = new SpeechSynthesisUtterance(result);
      speechSynthesis.speak(ss);
  });
  speech.addEventListener( 'end' , function( e ) {
    if(speechSynthesis.speaking){
      ss.addEventListener('end',function(e){
        speech.start();
      });
    }else{
        speech.start();
    }
  });
